{% extends 'base.html' %}

{% block title %}Journal Entries{% endblock %}
{% block header %}<h1 id="title-header">Journal Entries</h1>{% endblock %}

{% block main %}
<div>
    <button><a href="{% url 'journalentry-list-create' %}">Add New Entry +</a></button>
</div>
<ul>
{% for journalentry in object_list %}
    <li>
        {% include 'journal/journalentry_item.html' with journalentry=journalentry %}
        <p>
            <button><a href="{% url 'journalentry-list-delete' journalentry.pk %}">Delete Entry</a></button>
        </p>
    </li>
    <hr>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
{% endblock %}
